body {
  background-color: rgb(29, 118, 177);
}

#wrap {
  width: 85vw;
  height: 90vh;
  margin: 3% 15% 0 15%;
}

#nav {
  background-color: rgb(198, 229, 240);
  float: left;
  width: 15%;
  height: 65vh;
  padding: 20px;
}

#content {
  background: rgb(127, 195, 241);
  font-size: 18px;
  width: 60vw;
  height: 65vh;
  padding: 20px;
  text-align: center;
}

#content li {
  list-style: none;
}

.copyrigh {
  margin-top: 10px;
}
